/* header {
    height: 715px;
} */

.header-color {
    color: #fabe4c;
}

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

.price-title {
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
}

.jacket-title {
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
}